In [5]:
text = (["people watch cricket", "cricket watch cricket", "people give comments", "cricket give Comments"])

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

In [7]:
text

['people watch cricket',
 'cricket watch cricket',
 'people give comments',
 'cricket give Comments']

In [8]:
vec = CountVectorizer(ngram_range=(1,1))
x = vec.fit_transform(text)
pd.DataFrame(x.toarray(), columns=vec.get_feature_names_out())

   comments  cricket  give  people  watch
0         0        1     0       1      1
1         0        2     0       0      1
2         1        0     1       1      0
3         1        1     1       0      0

In [9]:
vec = CountVectorizer(ngram_range=(1,2))
x = vec.fit_transform(text)
pd.DataFrame(x.toarray(), columns=vec.get_feature_names_out())

,comments,cricket,cricket give,cricket watch,give,give comments,people,people give,people watch,watch,watch cricket
0,0,1,0,0,0,0,1,0,1,1,1
1,0,2,0,1,0,0,0,0,0,1,1
2,1,0,0,0,1,1,1,1,0,0,0
3,1,1,1,0,1,1,0,0,0,0,0

In [12]:
vec = CountVectorizer(ngram_range=(1,3))
x = vec.fit_transform(text)
pd.DataFrame(x.toarray(), columns=vec.get_feature_names_out())

,comments,cricket,cricket give,cricket give comments,cricket watch,cricket watch cricket,give,give comments,people,people give,people give comments,people watch,people watch cricket,watch,watch cricket
0,0,1,0,0,0,0,0,0,1,0,0,1,1,1,1
1,0,2,0,0,1,1,0,0,0,0,0,0,0,1,1
2,1,0,0,0,0,0,1,1,1,1,1,0,0,0,0
3,1,1,1,1,0,0,1,1,0,0,0,0,0,0,0

In [10]:
vec = CountVectorizer(ngram_range=(2,2))
x = vec.fit_transform(text)
pd.DataFrame(x.toarray(), columns=vec.get_feature_names_out())

,cricket give,cricket watch,give comments,people give,people watch,watch cricket
0,0,0,0,0,1,1
1,0,1,0,0,0,1
2,0,0,1,1,0,0
3,1,0,1,0,0,0

In [11]:
vec = CountVectorizer(ngram_range=(2,3))
x = vec.fit_transform(text)
pd.DataFrame(x.toarray(), columns=vec.get_feature_names_out())

,cricket give,cricket give comments,cricket watch,cricket watch cricket,give comments,people give,people give comments,people watch,people watch cricket,watch cricket
0,0,0,0,0,0,0,0,1,1,1
1,0,0,1,1,0,0,0,0,0,1
2,0,0,0,0,1,1,1,0,0,0
3,1,1,0,0,1,0,0,0,0,0